<!-- <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">

<style>
    * {
        font-family: "Rubik", "sans-serif";
    }

    div {
        text-align: center;
        margin-top: 50px;
    }

    h1 {
        color: red;
        font-size: 40pt;
    }

    p {
        font-size: 24pt;
    }
</style>

<div>
    <h1>Welcome!</h1><br>
    <p>This site has been visited {{ count }} times.</p>
</div> -->

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Web Crawling Thingy</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="wrapper">
        <header id="logo">
            <b>web crawling thingy</b>
        </header>
        <div id="instruction">
            <b>Input the URL of a Reddit post to crawl</b>
        </div>
        <div id="middlecolumn">
            <div class="form">
                <form method="post" action="" id="theForm">
                    <table>
                        <tr>
                            <td>URL:</td>
                            <td><input type="text" name="theURL" id="theURL" required></td>
                        </tr>
                    </table>
                </form>
            </div>
            <footer>
                I'm not too sure what im doing at this point but im hoping you would hire me (please) <br><br>
                <small>
                    <i>Copyright &copy; 2021</i>
                </small>
            </footer>
</body>

</html>